---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Main from '../components/Main.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Main class="pt-32">
			<h1 class="font-bold text-4xl sm:text-5xl md:text-6xl text-dark-subtle max-w-3xl mb-12">
				I am an <span class="highlighted">engineer</span> by craft, <span class="highlighted">creative</span> at heart.
			</h1>

			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 text-dark-subtle">
				<div class="col-span-1">
					<p class="text-lg">
						What you've given us is texty, we want sexy mmm, exactly like that, but different, nor will royalties in the
						company do instead of cash, but we have big contacts we will promote you pass the mayo.
					</p>
				</div>

				<div class="col-span-1">
					<p class="text-lg">
						We need more images of groups of people having non-specific types of fun, could you rotate the picture to
						show the other side of the room? this red is too red.
					</p>
				</div>
			</div>
		</Main>
		<Footer />
		<style>
			.highlighted {
				@apply text-bright !important;
			}
		</style>
	</body>
</html>
