---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + subpath?.[0]
---

<a
	href={href}
	class="px-3 h-8 flex items-center justify-center hover:bg-bright/10 rounded-full transition"
	class:list={[className]}
	{...props}
>
	<slot />
</a>
